body
{
    display: flex;                  
    justify-content: center;         
    align-items: center;             
    height: 100vh;                  
    margin: 0;                       
    background-color: #f0f0f0;
    font-family: 'Arial';
}

.container {
    width: 90%; /* Use a percentage for responsive width */
    max-width: 400px; /* Set a max-width for larger screens */

    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* Center child elements */
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
}


.container input[type="password"],
.container input[type="text"],
.container input[type="tel"] {
    width: 100%; /* Ensure input takes up full width of parent */
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding and border in total width */
}

.flex{
    width: 100%;
    display: flex;

    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
}

.inputHalf {
    width: 50%;
}

.spacePadding {
    margin-left: 5%;
}

#button1,
#button2 {
    width: 100%;
    padding: 10px; /* Match padding with input fields */
    box-sizing: border-box; /* Include padding and border in total width */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#button2 {
    background-color: #2abd73;
}

p,
strong {
    font-size: 11px;
}


.terms{
    color:#007bff
}

#smallButton {
    background-color: #007bff;
    border: none; 
    font-size: inherit; 
    cursor: pointer; 
    color: #ffffff; 
}


